In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df1 = pd.read_csv("/Users/jczammit/Downloads/CombinedAllEvents_Coincidence-Copy1.txt", sep="	|\t|\n",header=None, engine="python")

In [4]:
df1

         0  1      2      3      4      5
0        3  0  246.4   2.23   6.96  -7.78
1        3  0  153.4  -4.57   5.77 -12.83
2        3  0  173.0  -4.16  -9.82  11.22
3        3  0  271.2  -3.13   1.38   1.77
4        3  0  154.5  -4.32  -6.02 -19.84
...     .. ..    ...    ...    ...    ...
1057335  4  0  169.1 -16.59   9.52   5.70
1057336  4  0  126.5   7.35   1.03 -19.34
1057337  3  0  136.2   3.29   6.77 -21.34
1057338  3  0  104.8  -1.06   7.01 -14.56
1057339  3  0  107.1   7.47 -21.04  16.24

[1057340 rows x 6 columns]

In [5]:
len(df1)

1057340

In [6]:
df1[0].loc[10]

5

In [22]:
i = 0
df2 = pd.DataFrame()

while i < len(df1):
    for j in range(df1[0].loc[i]):
        if (df1[2].loc[i+j] >= 240) and (df1[2].loc[i+j] <= 250):
            for k in range(i, i + df1[0].loc[i]):
                rows = df1.loc[k].to_frame().T
                df2 = pd.concat([df2,rows], ignore_index=True)
            break
    i += df1[0].loc[i]

In [23]:
df2

          0    1      2      3     4      5
0       3.0  0.0  246.4   2.23  6.96  -7.78
1       3.0  0.0  153.4  -4.57  5.77 -12.83
2       3.0  0.0  173.0  -4.16 -9.82  11.22
3       5.0  0.0  120.5  -9.90  8.57  13.97
4       5.0  0.0   34.6 -10.93  8.33  14.45
...     ...  ...    ...    ...   ...    ...
395792  3.0  0.0  242.6  -2.41  1.34   5.31
395793  4.0  0.0  167.9  15.74  6.19  11.60
395794  4.0  0.0  247.4   7.58  8.14   4.63
395795  4.0  0.0  169.1 -16.59  9.52   5.70
395796  4.0  0.0  126.5   7.35  1.03 -19.34

[395797 rows x 6 columns]

In [24]:
df2.to_csv('finalout.zip', sep='\t', encoding='utf-8', header=None, index=False)